# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Visual Studio Stuff
*.exe
*.dll
*.suo
*.txt
*.pdb
*.cache
*.manifest

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.exe
*.exe
*.exe
*.exe
*.pdb
Code/WiT/WiT/bin/x86/Debug/WiTProject.dll
*.cache
*.txt
*.dll